<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title><%= title %></title>
</head>
<body>
    <nav class="navbar">
        <h1><%= title  %></h1>
        <a href="/">home </a>
    </nav>
    <div class="container">
    <form action="/update/<%= product._id %>" method="post" class="form">
        <label for="">Title</label>
        <input type="text" name="title" placeholder="title" value="<%= product.title %>" >
        <label for="">Price</label>
        <input type="number" name="price" placeholder="price" value="<%= product.price %>" >
        <label for="">Description</label>
        <input type="text" name="description" placeholder="description" value="<%= product.description %>" >
        <label for="">Category</label>
        <input type="text" name="category" placeholder="category" value="<%= product.category %>" >
        <label for="">Image</label>
        <input type="text" name="image" placeholder="image" value="<%= product.image %>" >
        <label for="">Rating</label>
        <input type="number" name="rate" placeholder="rate" value="<%= product.rating.rate %>" >
        <input type="number" name="count" placeholder="count" value="<%= product.rating.count %>" >
        <input type="submit" value="Send" />
    </form>
</div>
</body>
</html>